:root {
  --primary-font-color: #3a3a3a;
  --secondary-font-color: #848484;
}

.skills-container {
  width: 90%;
  max-height: 100%;
}
.certifications-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.certification-title {
  font-size: 32px !important;
  color: var(--primary-font-color);
  font-weight: 600 !important;
  text-align: center;
  margin-bottom: 20px !important;
  margin-top: 120px !important;
}

.card-name {
  font-size: 12px !important;
  color: var(--primary-font-color);
  font-weight: 600 !important;
  margin-top: 10px !important;
}

.card-subtext {
  font-size: 12px !important;
}
.card-subtext-2 {
  font-size: 11px !important;
}
.card-subtext-3 {
  font-size: 8px !important;
  font-weight: 600 !important;
  margin-bottom: -3px !important;
}

.MuiList-root {
  padding: 1px 0px 1px 2px !important;
}
.MuiListItem-root {
  padding: 0px 2px 0px 2px !important;
}

.card-description {
  margin: 10px 0px 10px 0px;
}
.card-skills {
}

.MuiListItemIcon-root {
  min-width: 20px !important;
}
.certification-details {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
.details-left,
.details-right {
  width: 50%;
  text-align: left;
}

.card-container-0,
.card-container-1,
.card-container-2,
.card-container-3,
.card-container-4,
.card-container-5 {
  height: 500px;
  width: 240px;
  position: relative;
}

.card-container-0 {
  border-bottom: 5px solid #ffb6c1;
  border-top: 5px solid #ffb6c1;
}
.card-container-1 {
  border-bottom: 5px solid #90ee90;
  border-top: 5px solid #90ee90;
}
.card-container-2 {
  border-bottom: 5px solid #add8e6;
  border-top: 5px solid #add8e6;
}
.card-container-3 {
  border-bottom: 5px solid #eeee67;
  border-top: 5px solid #f7f7b0;
}
.card-container-4 {
  border-bottom: 5px solid #d0d0f7;
  border-top: 5px solid #d0d0f7;
}
.card-container-5 {
  border-bottom: 5px solid #ffb784;
  border-top: 5px solid #ffb784;
}
.card-btn-0 {
  background-color: #ffb6c1 !important;
  width: 100px !important;
  height: 30px !important;
  margin-top: 30px !important;
}
.card-btn-1 {
  background-color: #90ee90 !important;
  width: 100px !important;
  height: 30px !important;
  margin-top: 30px !important;
}

.card-btn-2 {
  background-color: #add8e6 !important;
  width: 100px !important;
  height: 30px !important;
  margin-top: 30px !important;
}
.card-btn-3 {
  background-color: #eeee67 !important;
  color: var(--secondary-font-color) !important;
  width: 100px !important;
  height: 30px !important;
  margin-top: 30px !important;
}
.card-btn-4 {
  background-color: #d0d0f7 !important;
  width: 100px !important;
  height: 30px !important;
  margin-top: 30px !important;
}

.card-btn-5 {
  background-color: #ffb784 !important;
  width: 100px !important;
  height: 30px !important;
  margin-top: 30px !important;
}
