:root {
  --primary-font-color: #3a3a3a;
  --secondary-font-color: #848484;
}

.skills-container {
  width: 90%;
  max-height: 100%;
}
.certifications-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.certification-title {
  font-size: 32px !important;
  color: var(--primary-font-color);
  font-weight: 600 !important;
  text-align: center;
  margin-bottom: 20px !important;
}

.card-name {
  font-size: 12px !important;
  color: var(--primary-font-color);
  font-weight: 600 !important;
  margin-top: 10px !important;
}

.card-subtext {
  font-size: 12px !important;
}
.card-subtext-2 {
  font-size: 11px !important;
}
.card-subtext-3 {
  font-size: 8px !important;
  font-weight: 600 !important;
  margin-bottom: -3px !important;
}

.certification-card-container {
  position: relative;
  width: 90%;
  height: 450px;
  background-color: #e9e9e9;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.certification-card-wrapper {
  padding: 10px 30px 10px 30px;
}

.certification-card-container:hover {
  position: relative;
  width: 95%;
  height: 530px;
  background-color: #565656;
  border-radius: 15px;
  padding: 10px 15px 10px 15px;
  color: #fff !important;
}

.certification-card-container:hover .certification-card-wrapper {
  color: #fff !important;
  padding: 10px 20px 10px 20px;
}

.certification-card-container:hover .card-name {
  font-size: 18px !important;
  color: #fff !important;
}

.certification-card-container:hover .card-subtext-3 {
  font-size: 14px !important;
  color: #fff !important;
}

.certification-card-container:hover .card-subtext-2 {
  font-size: 14px !important;
  color: #fff !important;
}

.certification-card-container:hover .card-subtext {
  font-size: 13px !important;
  color: #fff !important;
}

.certification-card-container:hover .card-description {
  color: #fff !important;
}

.certification-card-container:hover .card-skills {
  color: #fff !important;
}

.certification-card-container:hover .certification-details {
  color: #fff !important;
}

.certification-card-container:hover .card-btn {
  position: absolute !important;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  background-color: #d5d5d5 !important;
  color: #565656 !important;
}

.certification-card-container:hover .card-btn {
  position: absolute;
  bottom: 20px;
  width: 80%;
  display: flex;
  justify-content: center;
}

.card-btn {
  position: absolute !important;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  border-radius: 10px !important;
  padding: 10px !important;
}

.MuiList-root {
  padding: 1px 0px 1px 2px !important;
}
.MuiListItem-root {
  padding: 0px 2px 0px 2px !important;
}

.card-description {
  margin: 10px 0px 10px 0px;
}
.card-skills {
}

.MuiListItemIcon-root {
  min-width: 20px !important;
}
.certification-details {
  display: flex;
  width: 90%;
  margin: auto;
  margin-top: 10px;
}
.details-left,
.details-right {
  width: 50%;
  text-align: left;
}
.card-container-0,
.card-container-1,
.card-container-2,
.card-container-3,
.card-container-4,
.card-container-5 {
  height: 460px;
  width: 240px;
  position: relative;
}

.card-btn-0,
.card-btn-1,
.card-btn-2,
.card-btn-3,
.card-btn-4,
.card-btn-5 {
  background-color: #3a3a3a !important;
  color: #fff !important;
  font-weight: 600;
  width: 100px !important;
  height: 30px !important;
  margin-top: 20px !important;
}
.card-container-0 {
  /* border-bottom: 5px solid #ffb6c1;
  border-top: 5px solid #ffb6c1; */
  border-bottom: 5px solid #b5b5b5;
  border-top: 5px solid #b5b5b5;
}
.card-container-1 {
  /* border-bottom: 5px solid #90ee90;
  border-top: 5px solid #90ee90; */
  border-bottom: 5px solid #b5b5b5;
  border-top: 5px solid #b5b5b5;
}
.card-container-2 {
  /* border-bottom: 5px solid #add8e6;
  border-top: 5px solid #add8e6; */
  border-bottom: 5px solid #b5b5b5;
  border-top: 5px solid #b5b5b5;
}
.card-container-3 {
  /* border-bottom: 5px solid #eeee67;
  border-top: 5px solid #f7f7b0; */
  border-bottom: 5px solid #b5b5b5;
  border-top: 5px solid #b5b5b5;
}
.card-container-4 {
  /* border-bottom: 5px solid #d0d0f7;
  border-top: 5px solid #d0d0f7; */
  border-bottom: 5px solid #b5b5b5;
  border-top: 5px solid #b5b5b5;
}
.card-container-5 {
  /* border-bottom: 5px solid #ffb784;
  border-top: 5px solid #ffb784; */
  border-bottom: 5px solid #b5b5b5;
  border-top: 5px solid #b5b5b5;
}
.card-btn-0 {
  /* background-color: #ffb6c1 !important; */
}
.card-btn-1 {
  /* background-color: #90ee90 !important; */
}

.card-btn-2 {
  /* background-color: #add8e6 !important; */
}
.card-btn-3 {
  /* background-color: #eeee67 !important; */
}
.card-btn-4 {
  /* background-color: #d0d0f7 !important; */
}

.card-btn-5 {
  /* background-color: #ffb784 !important; */
}
